<form action="/survey" method="post">
    <p>Your Name: <input type="text" name="Name"></p>
    <p>Location: <input type="text" name="Location"></p>
    <input type="submit" value="Submit">
</form>

     <!-- <form action="/result" method="post">
        <label>Your Name:</label>
        <input type="text" name="Name">    
        <label>Dojo Location:</label>
        <select name="Location">    
    		<option value="Chicago">Chicago</>
    		<option value="San Jose">San Jose</>
    		<option value="Dallas">Dallas</>
    		<option value="Houston">Houston</>
    	</select>
        <label>Favorite Language:</label>
        <select name="Fav">    
    		<option value="Python">Python</>
    		<option value="Java">Java</>
    		<option value="JS">JS</>
    		<option value="HTML">HTML</>
        <label>Comment:</label>
        <p><textarea name="Comment"  cols="30" rows="10"></textarea></p>
        <br>
        <input type="submit" value="Submit">
    </form> -->
